name: build

on:
  push:
    branches:
      - master
      - main
    paths-ignore:
      - CHANGELOG.md
    tags-ignore:
      - v*
      - sdk/*
  workflow_dispatch: {}

env:
  PROVIDER: pulumi-webflow
  PULUMI_LOCAL_NUGET: ${{ github.workspace }}/nuget
  GOVERSION: "1.21.x"
  NODEVERSION: "20.x"
  PYTHONVERSION: "3.11.8"
  DOTNETVERSION: "8.0.x"
  JAVAVERSION: "11"

jobs:
  prerequisites:
    runs-on: ubuntu-latest
    name: prerequisites
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          lfs: true

      - id: version
        name: Set Provider Version
        uses: pulumi/provider-version-action@v1
        with:
          set-env: PROVIDER_VERSION
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Tools
        uses: ./.github/actions/setup-tools
        with:
          cache: "true"
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build codegen binaries
        run: make codegen

      - name: Build Schema
        run: make generate_schema

      - name: Build Provider
        run: make provider

      - name: Check worktree clean
        uses: pulumi/git-status-check-action@v1
        with:
          allowed-changes: |
            sdk/**/pulumi-plugin.json
            sdk/dotnet/*.*.csproj
            sdk/dotnet/version.txt
            sdk/go/**/pulumiUtilities.go
            sdk/nodejs/package.json
            sdk/python/pyproject.toml
            sdk/java/build.gradle

      - name: Tar provider binaries
        run: tar -zcf ${{ github.workspace }}/bin/provider.tar.gz -C ${{ github.workspace }}/bin/ pulumi-resource-${{ env.PROVIDER }} pulumi-gen-${{ env.PROVIDER }}

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: pulumi-${{ env.PROVIDER }}-provider.tar.gz
          path: ${{ github.workspace }}/bin/provider.tar.gz

      - name: Test Provider Library
        run: make test_provider
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4
        continue-on-error: true
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  build_sdks:
    needs: prerequisites
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        language:
          - nodejs
          - python
          - dotnet
          - go
          - java
    name: build_sdks
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          lfs: true

      - id: version
        name: Set Provider Version
        uses: pulumi/provider-version-action@v1
        with:
          set-env: PROVIDER_VERSION
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Tools
        uses: ./.github/actions/setup-tools
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Download Provider Binary
        uses: ./.github/actions/download-provider

      - name: Generate SDK
        run: make generate_${{ matrix.language }}

      - name: Build SDK
        run: make build_${{ matrix.language }}

      - name: Check worktree clean
        uses: pulumi/git-status-check-action@v1
        with:
          allowed-changes: |
            sdk/**/pulumi-plugin.json
            sdk/dotnet/*.*.csproj
            sdk/dotnet/version.txt
            sdk/go/**/pulumiUtilities.go
            sdk/nodejs/package.json
            sdk/python/pyproject.toml
            sdk/java/build.gradle

      - name: Tar SDK folder
        run: tar -zcf sdk/${{ matrix.language }}.tar.gz -C sdk/${{ matrix.language }} .

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.language }}-sdk.tar.gz
          path: ${{ github.workspace }}/sdk/${{ matrix.language }}.tar.gz
          retention-days: 30

  test:
    runs-on: ubuntu-latest
    needs:
      - build_sdks
    strategy:
      fail-fast: true
      matrix:
        language:
          - nodejs
          - python
          - dotnet
          - go
          - java
          - yaml
    name: test
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          lfs: true

      - id: version
        name: Set Provider Version
        uses: pulumi/provider-version-action@v1
        with:
          set-env: PROVIDER_VERSION
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Tools
        uses: ./.github/actions/setup-tools
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Download Provider Binary
        uses: ./.github/actions/download-provider

      - name: Download SDK
        if: matrix.language != 'yaml'
        uses: ./.github/actions/download-sdk
        with:
          language: ${{ matrix.language }}

      - name: Update path
        run: echo "${{ github.workspace }}/bin" >> "$GITHUB_PATH"

      - name: Install Node dependencies
        run: yarn global add typescript

      - run: dotnet nuget add source ${{ github.workspace }}/nuget

      - name: Install Python deps
        run: |
          pip3 install virtualenv==20.0.23
          pip3 install pipenv

      - name: Install dependencies
        if: matrix.language != 'yaml'
        run: make install_${{ matrix.language }}_sdk

      - name: Install gotestfmt
        uses: GoTestTools/gotestfmt-action@v2
        with:
          version: v2.5.0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run tests
        run: |
          set -euo pipefail
          cd examples && go test -count=1 -cover -timeout 2h -tags=${{ matrix.language }} -parallel 4 .
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  lint:
    runs-on: ubuntu-latest
    name: lint
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Setup Tools
        uses: ./.github/actions/setup-tools
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Disarm go:embed directives to enable linters
        run: git grep -l 'go:embed' -- provider | xargs --no-run-if-empty sed -i 's/go:embed/ goembed/g'

      - name: golangci-lint provider pkg
        uses: golangci/golangci-lint-action@v6
        with:
          working-directory: .
          install-mode: none
