name: run-acceptance-tests
on:
  repository_dispatch:
    types:
      - run-acceptance-tests-command
  pull_request:
    paths-ignore:
      - CHANGELOG.md
  workflow_dispatch: {}

env:
  PROVIDER: pulumi-webflow
  PULUMI_LOCAL_NUGET: ${{ github.workspace }}/nuget
  GOVERSION: "1.21.x"
  NODEVERSION: "20.x"
  PYTHONVERSION: "3.11.8"
  DOTNETVERSION: "8.0.x"
  JAVAVERSION: "11"
  PR_COMMIT_SHA: ${{ github.event.client_payload.pull_request.head.sha }}

jobs:
  comment-notification:
    if: github.event_name == 'repository_dispatch'
    runs-on: ubuntu-latest
    name: comment-notification
    steps:
      - name: Create URL to the run output
        id: vars
        run: echo "run-url=https://github.com/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID" >> "$GITHUB_OUTPUT"
      - name: Update with Result
        uses: peter-evans/create-or-update-comment@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.event.client_payload.github.payload.repository.full_name }}
          issue-number: ${{ github.event.client_payload.github.payload.issue.number }}
          body: "Please view the PR build: ${{ steps.vars.outputs.run-url }}"

  prerequisites:
    runs-on: ubuntu-latest
    name: prerequisites
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          lfs: true
          ref: ${{ env.PR_COMMIT_SHA || github.ref }}

      - id: version
        name: Set Provider Version
        uses: pulumi/provider-version-action@v1
        with:
          set-env: PROVIDER_VERSION
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Tools
        uses: ./.github/actions/setup-tools
        with:
          cache: "true"
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - if: github.event_name == 'pull_request'
        name: Install Schema Tools
        uses: jaxxstorm/action-install-gh-release@v2.1.0
        with:
          repo: pulumi/schema-tools
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build codegen binaries
        run: make codegen

      - name: Build Schema
        run: make generate_schema

      - if: github.event_name == 'pull_request'
        name: Check Schema is Valid
        run: |
          schema-tools compare -p ${{ env.PROVIDER }} -o ${{ github.event.repository.default_branch }} -n --local-path=provider/cmd/pulumi-resource-${{ env.PROVIDER }}/schema.json 2>&1 | tee schema-check.txt || true
          echo "SCHEMA_CHANGES<<EOF" >> "$GITHUB_ENV"
          cat schema-check.txt >> "$GITHUB_ENV"
          echo "EOF" >> "$GITHUB_ENV"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - if: github.event_name == 'pull_request' && github.actor != 'dependabot[bot]'
        name: Comment on PR with Details of Schema Check
        uses: thollander/actions-comment-pull-request@v3
        with:
          message: |
            ${{ env.SCHEMA_CHANGES }}
          comment-tag: schemaCheck
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Provider
        run: make provider

      - name: Check worktree clean
        uses: pulumi/git-status-check-action@v1
        with:
          allowed-changes: |
            sdk/**/pulumi-plugin.json
            sdk/dotnet/*.*.csproj
            sdk/dotnet/version.txt
            sdk/go/**/pulumiUtilities.go
            sdk/nodejs/package.json
            sdk/python/pyproject.toml
            sdk/java/build.gradle

      - name: Tar provider binaries
        run: tar -zcf ${{ github.workspace }}/bin/provider.tar.gz -C ${{ github.workspace }}/bin/ pulumi-resource-${{ env.PROVIDER }} pulumi-gen-${{ env.PROVIDER }}

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: pulumi-${{ env.PROVIDER }}-provider.tar.gz
          path: ${{ github.workspace }}/bin/provider.tar.gz

      - name: Test Provider Library
        run: make test_provider
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4
        continue-on-error: true
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  build_sdks:
    needs: prerequisites
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        language:
          - nodejs
          - python
          - dotnet
          - go
          - java
    name: build_sdks
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          lfs: true
          ref: ${{ env.PR_COMMIT_SHA || github.ref }}

      - id: version
        name: Set Provider Version
        uses: pulumi/provider-version-action@v1
        with:
          set-env: PROVIDER_VERSION
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Tools
        uses: ./.github/actions/setup-tools
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Download Provider Binary
        uses: ./.github/actions/download-provider

      - name: Generate SDK
        run: make generate_${{ matrix.language }}

      - name: Build SDK
        run: make build_${{ matrix.language }}

      - name: Check worktree clean
        uses: pulumi/git-status-check-action@v1
        with:
          allowed-changes: |
            sdk/**/pulumi-plugin.json
            sdk/dotnet/*.*.csproj
            sdk/dotnet/version.txt
            sdk/go/**/pulumiUtilities.go
            sdk/nodejs/package.json
            sdk/python/pyproject.toml
            sdk/java/build.gradle

      - name: Tar SDK folder
        run: tar -zcf sdk/${{ matrix.language }}.tar.gz -C sdk/${{ matrix.language }} .

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.language }}-sdk.tar.gz
          path: ${{ github.workspace }}/sdk/${{ matrix.language }}.tar.gz
          retention-days: 30

  test:
    runs-on: ubuntu-latest
    needs:
      - build_sdks
    strategy:
      fail-fast: true
      matrix:
        language:
          - nodejs
          - python
          - dotnet
          - go
          - java
          - yaml
    name: test
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          lfs: true
          ref: ${{ env.PR_COMMIT_SHA || github.ref }}

      - id: version
        name: Set Provider Version
        uses: pulumi/provider-version-action@v1
        with:
          set-env: PROVIDER_VERSION
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Tools
        uses: ./.github/actions/setup-tools
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Download Provider Binary
        uses: ./.github/actions/download-provider

      - name: Download SDK
        if: matrix.language != 'yaml'
        uses: ./.github/actions/download-sdk
        with:
          language: ${{ matrix.language }}

      - name: Update path
        run: echo "${{ github.workspace }}/bin" >> "$GITHUB_PATH"

      - name: Install Node dependencies
        run: yarn global add typescript

      - run: dotnet nuget add source ${{ github.workspace }}/nuget

      - name: Install Python deps
        run: |
          pip3 install virtualenv==20.0.23
          pip3 install pipenv

      - name: Install dependencies
        if: matrix.language != 'yaml'
        run: make install_${{ matrix.language }}_sdk

      - name: Install gotestfmt
        uses: GoTestTools/gotestfmt-action@v2
        with:
          version: v2.5.0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run tests
        run: |
          set -euo pipefail
          cd examples && go test -count=1 -cover -timeout 2h -tags=${{ matrix.language }} -parallel 4 .
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  lint:
    runs-on: ubuntu-latest
    name: lint
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          lfs: true
          ref: ${{ env.PR_COMMIT_SHA || github.ref }}

      - name: Setup Tools
        uses: ./.github/actions/setup-tools
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Disarm go:embed directives to enable linters
        run: git grep -l 'go:embed' -- provider | xargs --no-run-if-empty sed -i 's/go:embed/ goembed/g'

      - name: golangci-lint provider pkg
        uses: golangci/golangci-lint-action@v6
        with:
          working-directory: .
          install-mode: none

  sentinel:
    runs-on: ubuntu-latest
    name: sentinel
    needs:
      - test
      - prerequisites
      - lint
    steps:
      - name: Mark workflow as successful
        uses: guibranco/github-status-action-v2@v1
        with:
          authToken: ${{ secrets.GITHUB_TOKEN }}
          context: Sentinel
          state: success
          description: Sentinel checks passed
          sha: ${{ github.event.pull_request.head.sha || github.sha }}
    permissions:
      statuses: write
